* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#login-container {
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin: 0 auto;
  transform: translateY(50%);
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form label {
  text-align: left;
  margin: 10px 0 5px;
  font-size: 14px;
  font-weight: 600;
}

#login-form input {
  padding: 10px;
  border: 1px solid;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

#login-form input:focus {
  box-shadow: 0 0 0 2px;
}

#login-form button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#login-container p {
  margin-top: 15px;
  font-size: 14px;
}

#login-container a {
  text-decoration: none;
  font-weight: 600;
}

#login-container a:hover {
  text-decoration: underline;
}
